<!DOCTYPE html>
<html>
  <head>
    <title>Flatface</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



    <div class="container">

      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" href="/people">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/sessions/new">login</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="a#">About</a></li>
      </ul>

    <%= yield %>
  </div>


  </body>
</html>
