<!DOCTYPE html>
<html>
  <head>
    <title>Flatiron Navigator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <nav class="navbar navbar-light navbar-default navbar-fixed-top" style="background-color: #dbff7f;">
      <div class="container">
        <a class="navbar-brand" href="/people">Flatiron Navigator</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="nav navbar-nav navbar-right">



              <% if temp_user = get_logged_in_person %>
                  Logged in as: <%= temp_user.email %>

              <button type="button" class="btn btn-light" aria-label="Left Align">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                <%= link_to "Log out", logout_path, method: 'delete' %></button>
            <% else %>

              <button type="button" class="btn btn-light" aria-label="Left Align">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <%= link_to "Register", '/people/new_register' %></button>
              <button type="button" class="btn btn-light" aria-label="Left Align">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                <%= link_to "Log in", new_session_path %></button>

            </div>
          <% end %>




        </div>
      </div>
    </nav>


    <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
          <%= value %>
    </div>
    <% end %>



  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>

  </body>

</html>
